<div class="mdl-grid mdl-grid--no-fullwidth">
	<div class="mdl-cell mdl-cell--3-col"></div>
	<div class="mdl-cell mdl-cell--2-col">
		<a href="project" class="mdl-button mdl-button--raised">tab_1</a>
	</div>
	<div class="mdl-cell mdl-cell--2-col">
		<a href="project" class="mdl-button mdl-button--raised">tab_2</a>
	</div>
	<div class="mdl-cell mdl-cell--2-col">
		<a href="project" class="mdl-button mdl-button--raised">tab_3</a>
	</div>
	<div class="mdl-cell mdl-cell--3-col"></div>  		
</div>